{% extends 'blog/base.html' %}
{% block content %}

<h2> <em>About Us</em> </h2>
<br>
{% load static %}
<img src="{% static 'blog/malaysia.jpg' %}" style="max-height:350px;">

<br><br><br>

We are two Pakistani friends, Fahad Sher Hussain and Zaeem Mahmood, who are passionate about traveling the world, and as well as within Pakistan.
Between the two of us, we have traveled exstensively to northern areas, Australia, New Zealand, Fiji, Indonesia, Brunei, Malaysia, Sri Lanka,
UAE, Qatar, Thailand and Singapore. Follow our journey as we experience the world on the green passport. We
are more than happy to answer any questions you may have regarding traveling. We are happy to share visa, travel, booking and other tips.
Just comment on our main page with a question and we will try and answer it straightaway. If you also would like to share your journey of
traveling on the green passport, then please do not hesitate to flick us an email with your article on glotuscreations@gmail.com.
<br><br>

To all the Pakistani backpackers and globtrotters out there. Happy traveling! The world awaits our coolness.
<br><br>

We also welcome reviews for travel products.

<br><br><br>

{% load static %}
<img src="{% static 'blog/gandhi.jpg' %}" style="max-height:350px;">

{% load static %}
<img src="{% static 'blog/china.jpg' %}" style="max-height:350px;">

{% load static %}
<img src="{% static 'blog/atm.jpg' %}" style="max-height:350px;">

{% load static %}
<img src="{% static 'blog/three.jpg' %}" style="max-height:350px;">


{% endblock %}
